<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'doctrine' => array(

        'connection' => array(
            // default connection name
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params'      => array(
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => '',
                    'password' => '',
                    'dbname'   => '',
                )
            )
        )
    ),

    'EnliteMonolog' => [
            'Slack' => [
                'handlers' => [

                    'default' => [
                        'name' => 'Monolog\Handler\SlackHandler',
                        'args' => [
                          'token'     => '',//api must go here from https://api.slack.com/web
                          'channel'   => '#ci',
                          'username'  => 'deployment-tool',
                          'useAttachment' => false,
                          'iconEmoji' => ':thumbsup:',
                          'level' => \Monolog\Logger::INFO,
                        ],
                        'formatter' => [
                            'name' => 'Monolog\Formatter\LineFormatter',
                        ],
                    ],
                ]
            ],
        ]
);
